body {
    background-color: #ffffff;
}

.card-img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.profilbilde {
    padding-top: 10px;
    margin-top: 10px;
    margin-inside: 10px;
}

.card {
    border-radius: 7%;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}
